@model List<SlivenCinema.ViewModels.MoviesListViewModel>

@for(var i=0; i<Model.Count(); i++)
{
 
    <div class="poster-container">

         <div class="rating"><span>@Model[i].Rating</span>
         </div>
         <a href="@Url.Action("Movie", "Home", new { movieID=Model[i].MovieID})" class="poster-link" data-movieid="@Model[i].MovieID" title="Кликнете тук за страницата на филма Tango and Cash">
              <div class="box-img"><img
                class="movie-poster"
                src="images/@(Model[i].ImagePath).jpg"
                alt="@Model[i].Title" />
            </div>
              <p class="poster-name">@Model[i].Title</p>
              <p class="poster-genre">@Model[i].Genre</p>
         </a>
         <div class="projection projection--one">
                @for (var j = 0; j < Model[i].Screening.Count(); j++)
                {
                     <div class="time-container">
                    <a href="@Url.Action("BookTicket", "Screening", new { movieTime=Model[i].Screening[j].Time, movieName=Model[i].Title})" class="screening-time" data-time="@Model[i].Screening[j].Time" data-moviename="@Model[i].Title">@Model[i].Screening[j].Time.TimeOfDay.ToString("hh\\:mm")</a>
                     </div>
                }          
         </div>
    </div>
  
}