@model List<SlivenCinema.Models.Movie>

@{
    Layout = "_Layout";
}


<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Sliven Cinema</title>
    <link
      href="https://fonts.googleapis.com/css?family=Bungee+Shade"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
    />
    @*<script
      type="module"
      src="~/js/site.js"
    ></script>*@
  </head>

  <body>
    <div class="wrapper">
    <header class="header">
      <div class="header-name"><h1>Sliven Cinema</h1></div>
    </header>
    <section class="main-body">
      <nav>
        <ul>
          <li><a asp-area="" asp-controller="Home" asp-action="Index">This week</a></li>
          <li><a asp-area="" asp-controller="Home" asp-action="ComingSoon">Coming Soon</a></li>
          
          <li><a asp-area="" asp-controller="Home" asp-action="About">About the cinema</a></li>
        </ul>
      </nav>
      <div class="main-panel first-panel">

          <div class="popupContainer">
                <div class="popupContent">
                    <span class="close">&times;</span>
                    <h1>Add Movie Screening</h1>
                    <form id="movieCreationForm">
                        <label for="movieName">Movie Name:</label>
                        <input type="text" id="movieName" name="movieName" required><br><br>

                        <label for="movieRating">Rating:</label>
                        <input type="number" step="0.1" id="movieRating" name="movieRating" ><br><br>

                        <label for="movieDuration">Duration:</label>
                        <input type="number" id="movieDuration" name="movieDuration" required><br><br>

                        <label for="movieDescription">Description:</label>
                        <input type="text" id="movieDescription" name="movieDescription" required><br><br>

                        <label for="movieGenre">Genre:</label>
                        <select class="movie-select" name="movieGenre" id="movieGenre" required>
                                <option value="" disabled selected>Select a genre</option>
                                <option value="action">Action</option>
                                <option value="drama">Drama</option>
                        </select><br><br>

                        <label for="releaseDate">Release Date:</label>
                        <input type="date" id="releaseDate" name="releaseDate" required><br><br>


                        <button type="submit">Add Screening</button>
                    </form>
                </div>
             </div>
        <div class="heading heading--air-date">
          <h2>24 September - 30 september</h2>
          <button class="openPopup">+</button>
                  <hr />
        </div>
      
    
          @for(var i=0; i<Model.Count(); i++){
              <div class="poster-container">
            <div class="rating"><span>@Model[i].Rating</span></div>
            <a href="@Url.Action("Movie", "Home", new { movieID=Model[i].MovieID})" class="poster-link" data-movieid="@Model[i].MovieID" title="Кликнете тук за страницата на филма Tango and Cash">
              <img
                class="movie-poster"
                src="images/@(Model[i].ImagePath).jpg"
                alt="@Model[i].Title"
              />
              <p class="poster-name">@Model[i].Title</p>
              <p class="poster-genre">@Model[i].Genre</p>
            </a>
            <div class="projection projection--one">
                @for (var j = 0; j < Model[i].Screening.Count(); j++)
                {
                     <div class="time-container">
                        <a href ="#" class="screening-time" data-time="@Model[i].Screening[j].Time.TimeOfDay" data-moviename="@Model[i].Title">@Model[i].Screening[j].Time.TimeOfDay.ToString("hh\\:mm")</a>
                     </div>
                }          
              </div>
          </div>
          }
         
 
        <!-- This is the movies panel -->
      </div>
    </section>  
    </div>
  </body>


</html>
