@* @model List<SlivenCinema.ViewModels.MoviesListViewModel> *@
@model List<SlivenCinema.Models.Movie>

@{
    Layout = "_Layout";
}


    <section class="main-body">
      
      <div class="main-panel first-panel">
                <div class="home swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        @for (int i = 0; i < 4; i++)
                        {
                            <div class="swiper-slide container">
                                <img src="images/@(Model[i].ImagePath)_carousel_1.jpg" alt="">
                                <div class="home-text">
                                    <h1>@Model[i].Title</h1>
                                    <a href="@Url.Action("Movie", "Home", new { movieID=Model[i].MovieID})" class="poster-link btn" data-movieid="@Model[i].MovieID">Check details</a>
                                </div>
                            </div>
                        }
                        <!-- End of Slides -->

                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>


                    <!-- If we need scrollbar -->
                    
                </div>
          <div class="popupContainer">
                <div class="popupContent">
                    <span class="close">&times;</span>
                    <h1>Add Movie Screening</h1>
                    <form id="movieCreationForm">
                        <label for="movieName">Movie Name:</label>
                        <input type="text" id="movieName" name="movieName" required><br><br>

                        <label for="movieRating">Rating:</label>
                        <input type="number" step="0.1" id="movieRating" name="movieRating" ><br><br>

                        <label for="movieDuration">Duration:</label>
                        <input type="number" id="movieDuration" name="movieDuration" required><br><br>

                        <label for="movieDescription">Description:</label>
                        <input type="text" id="movieDescription" name="movieDescription" required><br><br>

                        <label for="movieGenre">Genre:</label>
                        <select class="movie-select" name="movieGenre" id="movieGenre" required>
                                <option value="" disabled selected>Select a genre</option>
                                <option value="action">Action</option>
                                <option value="drama">Drama</option>
                        </select><br><br>

                        <label for="releaseDate">Release Date:</label>
                        <input type="date" id="releaseDate" name="releaseDate" required><br><br>


                        <button type="submit">Add Screening</button>
                    </form>
                </div>
             </div>
             
        <div class="heading heading--air-date">
            
                    <ul class="tabs-controls">
                        <li class="tabs-controls__item">
                            <a href="#" class="tabs-controls__link input tabs-controls__link--active" data-screeningtime="@DateTime.Today.AddDays(0)" data-id="0">
                                today
                            </a>
                        </li>
                        @for (int i = 1; i < 7; i++)
                        {
                            <li class="tabs-controls__item">
                                <a href="#" class="tabs-controls__link input" data-screeningtime="@DateTime.Today.AddDays(i)" data-id="i">
                                    @DateTime.Today.AddDays(i).DayOfWeek
                                </a>
                            </li>
                        }
                    </ul>
                  @*   @for (int i = 0; i < 7; i++)
                    {
                        <button class="input" data-screeningtime="@DateTime.Today.AddDays(i)">@DateTime.Today.AddDays(i).DayOfWeek</button>
                    }       *@             
                    <button class="openPopup">+</button>  
                 
        </div>
                <div class="full-panel cards-container" id="loadPartialView">
                </div>         
        <!-- This is the movies panel -->
      </div>
    </section>  
    </div>
   

@*   </body>


</html>
 *@