@model SlivenCinema.Models.Movie



<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>96</title>
    <link
      href="https://fonts.googleapis.com/css?family=Bungee+Shade"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
    />
   
  </head>
  <body>
    <div class="container">
      <header class="header">
        <div class="header-name"><h1>Sliven Cinema</h1></div>
      </header>
      <section class="main-body">
        <nav>
          <ul>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">This week</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="ComingSoon">Coming Soon</a></li>

                    <li><a asp-area="" asp-controller="Home" asp-action="About">About the cinema</a></li>
          </ul>
        </nav>
        <div class="main-panel movie--panel">
            <div class="popupContainer">
                <div class="popupContent">
                    <span class="close">&times;</span>
                    <h1>Add Movie Screening</h1>
                    <form id="movieScreeningForm">
                        <label for="movieName">Movie Name:</label>
                        <input type="text" id="movieName" name="movieName" required><br><br>

                        <label for="screeningDate">Screening Date:</label>
                        <input type="date" min="@Model.ReleaseDate.Date.ToString("yyyy-MM-dd")" id="screeningDate" name="screeningDate" required><br><br>

                        <label for="screeningTime">Screening Time:</label>
                        <input type="time" id="screeningTime" name="screeningTime" required><br><br>

                        <input type="hidden" name="movieId" value="@Model.MovieID" />

                        <button type="submit">Add Screening</button>
                    </form>
                </div>
             </div>
          <div class="title-block">
            <img
              src="../images/@(Model.ImagePath).jpg"
              class="individual-movie"
              alt="@Model.Title"
            />
            <div class="information">
              <div class="heading heading--name"><h2>@Model.Title</h2></div>
              <hr />
              <div class="side-info">
                <time class="duration">@(Model.Duration/60)h @(Model.Duration%60)m</time>
                <span class="ghost">|</span> <span class="genre">@(Model.Genre)</span>
                <span class="ghost">|</span>
                @if (DateTime.Now.Year!=Model.ReleaseDate.Date.Year)
                {
                    <span class="date">@Model.ReleaseDate.Date.ToString("yyyy")</span>
                    
                }
                else {
                    <span class="date">@Model.ReleaseDate.Date.ToString("dd/MM/yyyy")</span>

                }
              </div>
              <p class="summary-text">
                @Model.Description
              </p>
              <hr />
            </div>
          </div>
          <div class="screening-block">
 
                        <div class="tabs-controls">
                            <div class="tabs-controls__item">
                            <a href="#" class="tabs-controls__link input" data-screeningtime="@DateTime.Today.AddDays(0)" data-mainid="0">
                                    today
                                </a>
                            <button class="openPopup">+</button>
                            </div>
                            @for (int i = 1; i < 7; i++)
                            {
                                <div class="tabs-controls__item">
                                    <a href="#" class="tabs-controls__link input" data-screeningtime="@DateTime.Today.AddDays(i)" data-id="@i">
                                        @DateTime.Today.AddDays(i).DayOfWeek
                                    </a>
                                </div>
                            }
                            
                            
                        </div>
                        <div class="screening-time__movielink">
                                <div class="screening-time__movietime" data-screeningtime="@DateTime.Today"  data-id="0">
                                    @for (int j = 0; j < Model.Screening.Count; j++)
                                    {
                                        if (Model.Screening[j].Time.Date == DateTime.Today)
                                        {
                                            <div class="time-container">
                                                <a href="@Url.Action("BookTicket", "Screening", new { movieTime=Model.Screening[j].Time, movieName=Model.Title})" class="screening-time"  data-time="@Model.Screening[j].Time" data-moviename="@Model.Title">@Model.Screening[j].Time.TimeOfDay.ToString("hh\\:mm")</a>
                                            </div>
                                        }
                                    }
                                </div>

                        @for (int i = 1; i < 7; i++)
                        {

                            <div class="screening-time__movietime" data-screeningtime="@DateTime.Today.AddDays(i)">
                                    @for (int j = 0; j < Model.Screening.Count; j++)
                                    {
                                        if (Model.Screening[j].Time.Date == DateTime.Today.AddDays(i))
                                        {
                                            <div class="time-container">
                                                <a href="@Url.Action("BookTicket", "Screening", new { movieTime=Model.Screening[j].Time, movieName=Model.Title})" class="screening-time" data-time="@Model.Screening[j].Time" data-moviename="@Model.Title">@Model.Screening[j].Time.TimeOfDay.ToString("hh\\:mm")</a>
                                            </div>
                                        }
                                    }
                                </div>
                        }
                        </div>
            @* <div class="screening-times">
                        <div class="full-panel cards-container">
                                    <div class="projection projection--one">
                                        @for (var j = 0; j < Model.Screening.Count(); j++)
                                        {
                                            <div class="time-container">
                                                <a href="@Url.Action("BookTicket", "Screening", new { movieTime=Model.Screening[j].Time, movieName=Model.Title})" class="screening-time" data-time="@Model.Screening[j].Time" data-moviename="@Model.Title">@Model.Screening[j].Time.TimeOfDay.ToString("hh\\:mm")</a>
                                            </div>
                                        }
                                    </div>
                        </div>
                        @* <div class="time-container">
                  <button class="openPopup">+</button>
                </div>


                    </div>*@
          </div>
        </div>
      </section>
    </div>
  </body>

@*  <script>

      $(document).ready(function() {
          $(".openPopup").on('click', function(){
              var reusableForm = $(this).closest('.popupContainer');
              $(".popupContainer").show();
          });
          
          $(".close").on('click', function(){
              $(".popupContainer").hide();
          });

          $(window).on('click', function(e) {
              if(e.target == $(".popupContainer")) {
                  $(".popupContainer").hide();
              }         
          });
      });

//      document.getElementsByClassName("openPopup").addEventListener("click", function() {
//    document.getElementByClassName("popupContainer").style.display = "block";
//});

//// Close the popup when the close button or outside the popup is clicked
//document.querySelector(".close").addEventListener("click", function() {
//    document.getElementsByClassName("popupContainer").style.display = "none";
//});

//window.addEventListener("click", function(event) {
//    if (event.target == document.getElementsByClassName("popupContainer")) {
//        document.getElementsByClassName("popupContainer").style.display = "none";
//    }
//});

document.getElementById("movieScreeningForm").addEventListener("submit", function(event) {
    event.preventDefault(); // Prevent the form from submitting traditionally

    // Get form data
    var formData = new FormData(this);

    // Create an object from form data
    var movieScreening = {};
    formData.forEach(function(value, key){
        movieScreening[key] = value;
    });

    // Send the movie screening data to the server (you can use AJAX to send the data)
    console.log("Movie Name: " + movieScreening.movieName);
    console.log("Screening Date: " + movieScreening.screeningDate);
    console.log("Screening Time: " + movieScreening.screeningTime);

    $.post('@Url.Action("AddScreening")', {
        movieName: movieScreening.movieName,
        movieDate: movieScreening.screeningDate,
        movieTime: movieScreening.screeningTime
    }).done(function (d) 
    {
        document.getElementsByClassName("popupContainer").style.display = "none";
                    console.log("Success")
                })
                .fail(function(xhr,status,error){
                    console.error("error" + error)
                });
});
  </script>*@
</html>
