@model SlivenCinema.Models.Screening


<style>
    .img--booking-background {
        position: absolute;
        top: 0;
        right: 0;
        filter: blur(5px);
        height: 100vh;
        width: 100%;
        object-fit: cover;
    }
   
</style>

<section class="main-body">
    <img src="../images/avatar_carousel_1.jpg" class="img--booking-background" alt="">

    <div class="main-panel third-panel">
                <div class="selection-form">
            <div class="hall">
                <div class="hall-legend">
                    <div class="hall-legend--containers">
                        <div class="seats-legend"></div>
                        <span>Free seats</span>
                    </div>
                    <div class="hall-legend--containers">
                        <div class="seats-legend occupied"></div>
                        <span>Occupied seats</span>
                    </div>
                    <div class="hall-legend--containers">
                        <div class="seats-legend selected"></div>
                        <span>Selected seats</span>
                    </div>
                </div>
                <div class="screen">Screen here</div>

                @for (var i = 0; i < 80; i++)
                {

                    if (@Model.Seats.ElementAt(i).isTaken)
                    {
                        <div class="seats occupied" data-seatNum="@Model.Seats.ElementAt(i).SeatNumber" style="pointer-events: none;">@Model.Seats.ElementAt(i).SeatNumber</div>
                    }
                    else
                    {
                        <div class="seats" data-seatNum="@Model.Seats.ElementAt(i).SeatNumber">@Model.Seats.ElementAt(i).SeatNumber</div>
                    }

                }

            </div>
                    <div class="fields">
                       @* <label>
                            <!-- First Name: -->
                            <input type="text" placeholder="Enter First name" required />
                        </label>
                        <label>
                            <!-- Last Name: -->
                            <input type="text" placeholder="Enter Last name" required />
                        </label>*@
                        <h1>
                            @Model.MovieName
                        </h1>

                     
                <span class="movie-info">@Model.Time.DayOfWeek @Model.Time.Date.ToString("dd/MM/yyyy")</span>
                <span class="movie-info"> @Model.Time.TimeOfDay.ToString("hh\\:mm")</span>
                <a class="btn sbt-button" id="popupBtn">
                    Buy tickets
                </a>
                <div class="popup-content" id="popupContent">
                    Please select a seat!
                </div>
                    </div>

                    
                   
            
                    
                </div>
            </div>
        </section>
