@model SlivenCinema.Models.Screening
@{
    //string movieName = ViewBag.MovieName;
    //TimeSpan screenTime = ViewBag.ScreeningTime;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Book a ticket</title>
    <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    @*<link href="~/content/css/site.css" rel="stylesheet"/>*@
    @*<script
      type="text/javascript"
      src="~/js/site.js"
    ></script>*@
</head>

<body>
    <div class="container">
        <header class="header">
          <div class="header-name"><h1>Sliven Cinema</h1></div>
        </header>
        <section class="main-body">
            <nav>
              <ul>
                  <li><a asp-area="" asp-controller="Home" asp-action="Index">This week</a></li>
                  <li><a asp-area="" asp-controller="Home" asp-action="ComingSoon">Coming Soon</a></li>
                  <li><a asp-area="" asp-controller="Screening" asp-action="BookTicket">Book a ticket</a></li>
                  <li><a asp-area="" asp-controller="Screening" asp-action="BookTicket">About the cinema</a></li>
              </ul>
            </nav>
            <div class="main-panel third-panel">
                <div class="selection-form">
                    <div class="heading heading--title">
                        <h2>Movie seat reservation</h2>
                    </div>
                    <div class="fields">
                       @* <label>
                            <!-- First Name: -->
                            <input type="text" placeholder="Enter First name" required />
                        </label>
                        <label>
                            <!-- Last Name: -->
                            <input type="text" placeholder="Enter Last name" required />
                        </label>*@
                        <label>
                            <!-- Movie: -->
                            <input type="text" class="movie-select" placeholder="@ViewBag.movieName" required disabled/>
                           
                        </label>
                        <label>
                            <!-- Screening time: -->
                            <input type="text" id="time-of-screening" pattern="^([0-1]{1}[0-9]{1}|20|21|22|23):[0-5]{1}[0-9]{1}$" placeholder="@ViewBag.movieTime"
                                required />
                        </label>
                        <label>
                            <!-- Seats: -->
                            <input type="text" class="form-seats" placeholder="Choose your seats from the schema below" required disabled/>
                        </label>
                    </div>
                    <div class="hall">
                        <div class="screen">Screen here</div>
                        
                            @for (var i = 0; i < 80; i++)
                            {

                            if (@Model.Seats.ElementAt(i).isTaken)
                            {
                                <div class="seats selected" data-seatNum="@Model.Seats.ElementAt(i).SeatNumber" style="pointer-events: none;">@Model.Seats.ElementAt(i).SeatNumber</div>
                            }
                            else
                            {
                                <div class="seats" data-seatNum="@Model.Seats.ElementAt(i).SeatNumber">@Model.Seats.ElementAt(i).SeatNumber</div>
                            }

                            }
                            @*<li class="row row--1">
                                <label>
                                    1A
                                    <input type="checkbox" class="seats" data-seat="1A" />
                                </label>
                                <label>
                                    1B
                                    <input type="checkbox" class="seats" data-seat="1B" />
                                </label>
                                <label>
                                    1C
                                    <input type="checkbox" class="seats" data-seat="1C" />
                                </label>
                                <label>
                                    1D
                                    <input type="checkbox" class="seats" data-seat="1D" />
                                </label>
                                <label>
                                    1E
                                    <input type="checkbox" class="seats" data-seat="1E" />
                                </label>
                                <label>
                                    1F
                                    <input type="checkbox" class="seats" data-seat="1F" />
                                </label>
                                <label>
                                    1G
                                    <input type="checkbox" class="seats" data-seat="1G" />
                                </label>
                                <label>
                                    1H
                                    <input type="checkbox" class="seats" data-seat="1H" />
                                </label>
                                <label>
                                    1I
                                    <input type="checkbox" class="seats" data-seat="1I" />
                                </label>
                                <label>
                                    1J
                                    <input type="checkbox" class="seats" data-seat="1J" />
                                </label>
                            </li>
                            <li class="row row--2">
                                <label>
                                    2A
                                    <input type="checkbox" class="seats" data-seat="2A" />
                                </label>
                                <label>
                                    2B
                                    <input type="checkbox" class="seats" data-seat="2B" />
                                </label>
                                <label>
                                    2C
                                    <input type="checkbox" class="seats" data-seat="2C" />
                                </label>
                                <label>
                                    2D
                                    <input type="checkbox" class="seats" data-seat="2D" />
                                </label>
                                <label>
                                    2E
                                    <input type="checkbox" class="seats" data-seat="2E" />
                                </label>
                                <label>
                                    2F
                                    <input type="checkbox" class="seats" data-seat="2F" />
                                </label>
                                <label>
                                    2G
                                    <input type="checkbox" class="seats" data-seat="2G" />
                                </label>
                                <label>
                                    2H
                                    <input type="checkbox" class="seats" data-seat="2H" />
                                </label>
                                <label>
                                    2I
                                    <input type="checkbox" class="seats" data-seat="2I" />
                                </label>
                                <label>
                                    2J
                                    <input type="checkbox" class="seats" data-seat="2J" />
                                </label>
                            </li>
                            <li class="row row--3">
                                <label>
                                    3A
                                    <input type="checkbox" class="seats" data-seat="3A" />
                                </label>
                                <label>
                                    3B
                                    <input type="checkbox" class="seats" data-seat="3B" />
                                </label>
                                <label>
                                    3C
                                    <input type="checkbox" class="seats" data-seat="3C" />
                                </label>
                                <label>
                                    3D
                                    <input type="checkbox" class="seats" data-seat="3D" />
                                </label>
                                <label>
                                    3E
                                    <input type="checkbox" class="seats" data-seat="3E" />
                                </label>
                                <label>
                                    3F
                                    <input type="checkbox" class="seats" data-seat="3F" />
                                </label>
                                <label>
                                    3G
                                    <input type="checkbox" class="seats" data-seat="3G" />
                                </label>
                                <label>
                                    3H
                                    <input type="checkbox" class="seats" data-seat="3H" />
                                </label>
                                <label>
                                    3I
                                    <input type="checkbox" class="seats" data-seat="3I" />
                                </label>
                                <label>
                                    3J
                                    <input type="checkbox" class="seats" data-seat="3J" />
                                </label>
                            </li>
                            <li class="row row--4">
                                <label>
                                    4A
                                    <input type="checkbox" class="seats" data-seat="2A" />
                                </label>
                                <label>
                                    4B
                                    <input type="checkbox" class="seats" data-seat="4B" />
                                </label>
                                <label>
                                    4C
                                    <input type="checkbox" class="seats" data-seat="4C" />
                                </label>
                                <label>
                                    4D
                                    <input type="checkbox" class="seats" data-seat="4D" />
                                </label>
                                <label>
                                    4E
                                    <input type="checkbox" class="seats" data-seat="4E" />
                                </label>
                                <label>
                                    4F
                                    <input type="checkbox" class="seats" data-seat="4F" />
                                </label>
                                <label>
                                    4G
                                    <input type="checkbox" class="seats" data-seat="4G" />
                                </label>
                                <label>
                                    4H
                                    <input type="checkbox" class="seats" data-seat="4H" />
                                </label>
                                <label>
                                    4I
                                    <input type="checkbox" class="seats" data-seat="4I" />
                                </label>
                                <label>
                                    4J
                                    <input type="checkbox" class="seats" data-seat="4J" />
                                </label>
                            </li>
                            <li class="row row--5">
                                <label>
                                    5A
                                    <input type="checkbox" class="seats" data-seat="5A" />
                                </label>
                                <label>
                                    5B
                                    <input type="checkbox" class="seats" data-seat="5B" />
                                </label>
                                <label>
                                    5C
                                    <input type="checkbox" class="seats" data-seat="5C" />
                                </label>
                                <label>
                                    5D
                                    <input type="checkbox" class="seats" data-seat="5D" />
                                </label>
                                <label>
                                    5E
                                    <input type="checkbox" class="seats" data-seat="5E" />
                                </label>
                                <label>
                                    5F
                                    <input type="checkbox" class="seats" data-seat="5F" />
                                </label>
                                <label>
                                    5G
                                    <input type="checkbox" class="seats" data-seat="5G" />
                                </label>
                                <label>
                                    5H
                                    <input type="checkbox" class="seats" data-seat="5H" />
                                </label>
                                <label>
                                    5I
                                    <input type="checkbox" class="seats" data-seat="5I" />
                                </label>
                                <label>
                                    5J
                                    <input type="checkbox" class="seats" data-seat="5J" />
                                </label>
                            </li>
                            <li class="row row--6">
                                <label>
                                    6A
                                    <input type="checkbox" class="seats" data-seat="6A" />
                                </label>
                                <label>
                                    6B
                                    <input type="checkbox" class="seats" data-seat="6B" />
                                </label>
                                <label>
                                    6C
                                    <input type="checkbox" class="seats" data-seat="6C" />
                                </label>
                                <label>
                                    6D
                                    <input type="checkbox" class="seats" data-seat="6D" />
                                </label>
                                <label>
                                    6E
                                    <input type="checkbox" class="seats" data-seat="6E" />
                                </label>
                                <label>
                                    6F
                                    <input type="checkbox" class="seats" data-seat="6F" />
                                </label>
                                <label>
                                    6G
                                    <input type="checkbox" class="seats" data-seat="6G" />
                                </label>
                                <label>
                                    6H
                                    <input type="checkbox" class="seats" data-seat="6H" />
                                </label>
                                <label>
                                    6I
                                    <input type="checkbox" class="seats" data-seat="6I" />
                                </label>
                                <label>
                                    6J
                                    <input type="checkbox" class="seats" data-seat="6J" />
                                </label>
                            </li>
                            <li class="row row--7">
                                <label>
                                    7A
                                    <input type="checkbox" class="seats" data-seat="7A" />
                                </label>
                                <label>
                                    7B
                                    <input type="checkbox" class="seats" data-seat="7B" />
                                </label>
                                <label>
                                    7C
                                    <input type="checkbox" class="seats" data-seat="7C" />
                                </label>
                                <label>
                                    7D
                                    <input type="checkbox" class="seats" data-seat="7D" />
                                </label>
                                <label>
                                    7E
                                    <input type="checkbox" class="seats" data-seat="7E" />
                                </label>
                                <label>
                                    7F
                                    <input type="checkbox" class="seats" data-seat="7F" />
                                </label>
                                <label>
                                    7G
                                    <input type="checkbox" class="seats" data-seat="7G" />
                                </label>
                                <label>
                                    7H
                                    <input type="checkbox" class="seats" data-seat="7H" />
                                </label>
                                <label>
                                    7I
                                    <input type="checkbox" class="seats" data-seat="7I" />
                                </label>
                                <label>
                                    7J
                                    <input type="checkbox" class="seats" data-seat="7J" />
                                </label>
                            </li>
                            <li class="row row--8">
                                <label>
                                    8A
                                    <input type="checkbox" class="seats" data-seat="8A" />
                                </label>
                                <label>
                                    8B
                                    <input type="checkbox" class="seats" data-seat="8B" />
                                </label>
                                <label>
                                    8C
                                    <input type="checkbox" class="seats" data-seat="8C" />
                                </label>
                                <label>
                                    8D
                                    <input type="checkbox" class="seats" data-seat="8D" />
                                </label>
                                <label>
                                    8E
                                    <input type="checkbox" class="seats" data-seat="8E" />
                                </label>
                                <label>
                                    8F
                                    <input type="checkbox" class="seats" data-seat="8F" />
                                </label>
                                <label>
                                    8G
                                    <input type="checkbox" class="seats" data-seat="8G" />
                                </label>
                                <label>
                                    8H
                                    <input type="checkbox" class="seats" data-seat="8H" />
                                </label>
                                <label>
                                    8I
                                    <input type="checkbox" class="seats" data-seat="8I" />
                                </label>
                                <label>
                                    8J
                                    <input type="checkbox" class="seats" data-seat="8J" />
                                </label>
                            </li>*@
                    </div>
                    <button class="sbt-button" type="submit" value="Submit">submit</button>
                     @*@Html.RenderPartial("CinemaLayout");*@
                </div>
            </div>
        </section>
    </div>
    <!-- <script type="text/javascript" src="../build/index.js?b60dae1425af78c9dfb3"></script> -->
    <!-- <script type="text/javascript" src="index.js"></script> -->

</body>

<script>
    function getScreening(){
        
    }
</script>


</html>