@model SlivenCinema.Models.Screening
@{
    //string movieName = ViewBag.MovieName;
    //TimeSpan screenTime = ViewBag.ScreeningTime;
}
@{
    Layout = "_Layout";
}


@* <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Book a ticket</title>
    <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

</head>

<body>
    <div class="container">

            <header class="header">
                <div class="header-name">
                    <h1>Sliven Cinema</h1>
                </div>

                <ul class="nav-list">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">This week</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="ComingSoon">Coming Soon</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About the cinema</a></li>
                </ul>

            </header> *@

        <section class="main-body">

    <div class="main-panel third-panel">
                <div class="selection-form">
            <div class="hall">
                <div class="hall-legend">
                    <div class="hall-legend--containers">
                        <div class="seats-legend"></div>
                        <span>Free seats</span>
                    </div>
                    <div class="hall-legend--containers">
                        <div class="seats-legend occupied"></div>
                        <span>Occupied seats</span>
                    </div>
                    <div class="hall-legend--containers">
                        <div class="seats-legend selected"></div>
                        <span>Selected seats</span>
                    </div>
                </div>
                <div class="screen">Screen here</div>

                @for (var i = 0; i < 80; i++)
                {

                    if (@Model.Seats.ElementAt(i).isTaken)
                    {
                        <div class="seats occupied" data-seatNum="@Model.Seats.ElementAt(i).SeatNumber" style="pointer-events: none;">@Model.Seats.ElementAt(i).SeatNumber</div>
                    }
                    else
                    {
                        <div class="seats" data-seatNum="@Model.Seats.ElementAt(i).SeatNumber">@Model.Seats.ElementAt(i).SeatNumber</div>
                    }

                }

            </div>
                    <div class="fields">
                       @* <label>
                            <!-- First Name: -->
                            <input type="text" placeholder="Enter First name" required />
                        </label>
                        <label>
                            <!-- Last Name: -->
                            <input type="text" placeholder="Enter Last name" required />
                        </label>*@
                        <h1>
                            @Model.MovieName
                        </h1>

                     
                <span class="movie-info">@Model.Time.DayOfWeek @Model.Time.Date.ToString("dd/MM/yyyy")</span>
                <span class="movie-info"> @Model.Time.TimeOfDay.ToString("hh\\:mm")</span>
                <a class="btn sbt-button" id="popupBtn">
                    Buy tickets
                </a>
                <div class="popup-content" id="popupContent">
                    Please select a seat!
                </div>
                    </div>

                    
                   
            
                    
                </div>
            </div>
        </section>
